@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
	font-family: "Varela Round", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* background-color: green; */
	/* color: white; */
}

.headerColor {
	background-color: rgb(182, 182, 182);
	/* border-radius: %; */
}
.headerColor.card-header {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}
.CardBorder {
	border-radius: 25px;
}

.footer{
	color:black;
}
body {
	min-height: 100vh;
	/* color: white; */
	background: green;
}
.centered {
	/* position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
	/* display: flex;
	align-text: center;
	justify-content: center; */
	margin: auto;
	margin-top: 20px;
}
.centeredSignIn {
	color: white;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.row.justify-content-center {
	padding-top: 30px;
}
.logo {
	background: green;
	color: white;
	font-size: 100px;
	font-weight: bolder;
}
.name {
	display: inline-block;
}

.App {
	text-align: center;
}

.txt {
	background: green;
	text-decoration: none;
}
.header {
	font-size: 100px;
}
.inputField input {
	width: 300px;
	padding: 20px;
	display: block;
	margin: 10px;
	border: 2px solid white;
	cursor: pointer;
}
.links {
	margin-top: 20px;
}
Link {
	text-decoration: none;
}

.LoginButton {
	margin-top: 20px;
	width: 200px;
	padding: 20px;
	border: 2px solid white;
	background: white;
	font-weight: bold;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.LogOutButton {
	margin-top: 20px;
	width: 200px;
	padding: 20px;
	border: 2px solid white;
	background: white;
	font-weight: bold;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.container-fluid.navbar-nav {
	background: #6c757d;
}
.LoginButton span {
	background: white;
	color: green;
}
.LogOutButton span {
	background: white;
	color: green;
}
.LoginButton svg {
	background: white;
}
.search {
	text-align: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -200%);
}

.search {
	width: 450px;
}
.saveBtn {
	margin-top: 14px;
	background-color: white !important;
	color: green !important;
}
.link {
	background: white;
}

#logo {
	font-weight: bold;
	font-size: 100px;
	margin-bottom: 20px;
}

img {
	width: 200px;
}
.inputField {
	display: block;
}
a {
	color: white;
}

*,
*:focus,
*:hover {
	outline: none;
}
