@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
	font-family: "Varela Round", sans-serif;
}
#basic-navbar-nav.navbar-collapse.collapse {
	background: darkgray;
}
.navbar-light .navbar-brand {
	color: white;
	font-weight: bolder;
}

svg {
	background: white;
}
.navbar-light .navbar-nav .nav-link {
	/* background: #6c757d; */
	color: white;
}
